name: CI

on:
  pull_request:
    branches: [ main, release-0.1.z ]
  push:
    branches: [ main, release-0.1.z ]

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      # CHANGE THIS BLOCK TO MATCH YOUR STACK
      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.10"

      - name: Install dependencies
        run: |
          pip install -r requirements.txt

      - name: Run tests
        run: |
          pytest tests
